*
{
    margin:0;
    padding:0;
}
.header{

    height:100vh;
}
.video-background
{
    position:absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width:auto;
    height: auto;
    z-index:-1;
}
@media(min-aspect-ratio: 16/9)
{
    .video-background
    {
        width:100%;
        height:auto;
    }
}

@media(max-aspect-ratio: 16/9)
{
    .video-background
    {
        width:auto;
        height:100%;
    }
}
.welcome{
    position:relative;
    text-align: center;
    color:#fff;
    top:200px;
}
.welcome h1{
    font-size:80px;
    font-weight: 80;
    letter-spacing: 3px;
    margin-bottom:30px;
    font-family: evogriaregular
}

.social-icons img {
    font-size: 32px;
    display: inline-block;
    color: #757980;
    margin: 0px 1px;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    margin-right: 10px;
}





